<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <div class="brand-wrapper">
        <img src="assets/images/me.jpg" alt="Aymen Farhani" class="profile-image">
        <div class="brand-text">
          <span class="name">Aymen Farhani</span>
          <span class="title">Senior Java Developer | Scrum Master</span>
        </div>
      </div>
    </a>

    <button class="navbar-toggler" type="button"
            (click)="toggleNav()"
            [attr.aria-expanded]="!isNavCollapsed"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="!isNavCollapsed">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngFor="let item of navItems">
          <a class="nav-link"
             [routerLink]="item.path"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            <span class="nav-link-content">
              <i [class]="'bi bi-'"></i>
              <span class="nav-text">{{ item.name }}</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
