.navbar-brand {
  line-height: 1.2;
}

.nav-link {
  position: relative;
  margin: 0 0.5rem;
  padding: 0.5rem 0;
  cursor: pointer;
}

.nav-link.active {
  font-weight: 500;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0d6efd;
}

@media (min-width: 992px) {
  .nav-link {
    margin: 0 1rem;
  }
  .navbar-collapse {
    /* Ensure navbar stays open on desktop */
    display: flex !important;
    flex-basis: auto;
  }
}
